<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group-lg">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="field form-group-lg">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:"form-control", rows: "10" %>
  </div>
  <div class="actions form-group-lg">
    <%= f.submit class:"btn btn-default", role:"button" %>
  </div>
<% end %>
