<p id="notice"><%= notice %></p>

<%= link_to 'New Portfolio Item', new_work_path, class:"btn btn-default pull-right", role:"button" %>
<div class="page-header">
<h1>Portfolio</h1>
</div>

<div>
    <% @works.each do |work| %>
      <div class="btn-group">
        <td><%= link_to 'View', work, class:"btn btn-default", role:"button"%></td>
        <td><%= link_to 'Edit', edit_work_path(work), class:"btn btn-default", role:"button"%></td>
        <td><%= link_to 'Delete', work, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default", role:"button"%></td>
      </div>
      <div class="col-md4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2 class="text-center"><%= work.name %></h2>
            <div class="page-header"></div>
              <p class="text-justify"><%= work.description %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
<br>


