<p id="notice"><%= notice %></p>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
      <h2><%=@work.name%></h2>
      <p>
        <strong>Description:</strong>
        <%= @work.description %>
      </p>
      <div class="btn-group">
        <%= link_to 'Edit', edit_work_path(@work), class: "btn btn-default", role: "button" %>
        <%= link_to 'Back', works_path, class: "btn btn-default", role: "button" %>
      </div>
    </div>
  </div>